<!-- @if (!filtrosAplicados) { -->

<div class="container" style="padding-top: 1%;">
    <form [formGroup]="form">
        <div class="container-fluid text-center">
            <div class="row align-self-center">
                <h5 class="text-center" style="color: white;">
                    Elija el periodo y el cliente para filtrar las facturas
                </h5>
                <div class="col col-6">
                    <mat-form-field class="form-scanner-full-width">
                        <mat-label>Seleccione el Cliente: </mat-label>
                        <mat-select [formControl]="clientesControl" name="clientes" required>
                            <mat-option>--</mat-option>
                            @for (cliente of clientes; track cliente) {
                            <mat-option [value]="cliente">
                                {{cliente.nombreCliente +": "+cliente.ruc}}
                            </mat-option>
                            }
                        </mat-select>
                        @if (clientesControl.hasError('required')) {
                        <mat-error>Elija un Cliente para continuar</mat-error>
                        }
                    </mat-form-field>
                </div>
                <div class="col col-2">
                    <mat-form-field class="form-scanner-full-width">
                        <mat-label>Seleccionar Año: </mat-label>
                        <mat-select [formControl]="anhosControl" name="anhos">
                            <mat-option>--</mat-option>
                            @for (anho of anhos; track anho) {
                            <mat-option [value]="anho.valor">{{ anho.nombre }}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col col-2">
                    <mat-form-field class="form-scanner-full-width">
                        <mat-label>Seleccione el Mes</mat-label>
                        <mat-select [formControl]="mesesControl" name="meses">
                            <mat-option>--</mat-option>
                            @for (mes of meses; track mes) {
                            <mat-option [value]="mes.valor">{{mes.nombre}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col col-lg-2">
                    <button type="button"
                        (click)="cargarDatos(mesesControl.value, anhosControl.value, clientesControl.value)"
                        class="btn btn-success btn-lg" [disabled]="!clientesControl.valid">Cargar Datos</button>
                </div>

            </div>

        </div>

    </form>
</div>
<!-- } -->


@if(filtrosAplicados){
<h5 class="mx-auto p-2 text-center" style="color: white;">Filtros aplicados: {{filtro}}</h5>


<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
</mat-form-field>

<div class="mat-elevation-z8" style="padding-bottom: 1%;">
    <table mat-table [dataSource]=" dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> # </th>
            <td mat-cell *matCellDef="let row; let i = index"> {{ i+1 }} </td>
        </ng-container>

        <!-- Fecha Column -->
        <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef> Fecha </th>
            <td mat-cell *matCellDef="let row"> {{row.fechaEmisionFactura | date: 'dd/MM/YYYY'}} </td>
        </ng-container>

        <!-- Nro Factura Column -->
        <ng-container matColumnDef="numeroFactura">
            <th mat-header-cell *matHeaderCellDef> Nro Factura </th>
            <td mat-cell *matCellDef="let row"> {{row.numeroFactura}} </td>
        </ng-container>

        <!-- Tipo Factura Column -->
        <ng-container matColumnDef="tipoFactura">
            <th mat-header-cell *matHeaderCellDef> Tipo Factura </th>
            <td mat-cell *matCellDef="let row"> {{row.tipoFactura}} </td>
        </ng-container>

        <!-- Condicion de venta Column -->
        <ng-container matColumnDef="condicion">
            <th mat-header-cell *matHeaderCellDef> Condicion de Venta </th>
            <td mat-cell *matCellDef="let row"> {{row.condicionVentaFactura}} </td>
        </ng-container>

        <!-- Ruc Emisor Column -->
        <ng-container matColumnDef="rucEmisorFactura">
            <th mat-header-cell *matHeaderCellDef> RUC Emisor </th>
            <td mat-cell *matCellDef="let row"> {{row.rucEmisorFactura}} </td>
        </ng-container>

        <!-- Razon social emisor Column -->
        <ng-container matColumnDef="rsEmisorFactura">
            <th mat-header-cell *matHeaderCellDef> Razón Social E </th>
            <td mat-cell *matCellDef="let row"> {{row.razonSocialEmisorFactura}} </td>
        </ng-container>

        <!-- Ruc Receptor Column -->
        <ng-container matColumnDef="rucReceptorFactura">
            <th mat-header-cell *matHeaderCellDef> RUC Receptor </th>
            <td mat-cell *matCellDef="let row"> {{row.rucReceptorFactura}} </td>
        </ng-container>

        <!-- Razon social Receptor Column -->
        <ng-container matColumnDef="rslReceptorFactura">
            <th mat-header-cell *matHeaderCellDef> Razón Social R </th>
            <td mat-cell *matCellDef="let row"> {{row.razonSocialReceptorFactura}} </td>
        </ng-container>

        <!-- Total factura Column -->
        <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef> Monto Total </th>
            <td mat-cell *matCellDef="let row"> {{row.montoTotalFactura | formatogs}} </td>
        </ng-container>

        <!-- acciones Column -->
        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let row">
                <!-- @if(row.statusFactura==="APROBADO"){ -->

                <button class="btn btn-warning rounded-circle p-2 lh-1 position-relative" type="button"
                    style="margin-right: 5px;" (dblclick)="editarAprobado(row, row.tipoFactura)" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
                <button class="btn btn-success rounded-circle p-2 lh-1" type="button" disabled>
                    <i class="fa fa-check" aria-hidden="true"></i>
                </button>
                <!-- } -->
                <!-- @if(row.statusFactura==="PENDIENTE"){ -->
                <button class="btn btn-warning rounded-circle p-2 lh-1 position-relative" type="button"
                    style="margin-right: 5px;" (click)="editarFactura(row, row.tipoFactura)" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
                <button class="btn btn-success rounded-circle p-2 lh-1" type="button">
                    <i class="fa fa-check" aria-hidden="true"></i>
                </button>
                <!-- } -->
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>



<!-- 
<div class="container-fluid text-center">
    <form [formGroup]="formBusqueda">
        <div class="row form-scanner">
            <div class="col col-2 align-self-center ">
                <mat-form-field>
                    <mat-label>Selecciona tipo busqueda</mat-label>
                    <mat-select [formControl]="busquedaControl" name="busqueda">
                        <mat-option>--</mat-option>
                        @for (busqueda of busquedas; track busqueda) {
                        <mat-option [value]="busqueda.valor">{{busqueda.nombre}}</mat-option>
                        }

                    </mat-select>
                </mat-form-field>
            </div>
            @if (!busquedaControl.hasError('required')) {
            <div class="col col-4 align-self-center">
                <mat-form-field class="form-scanner-full-width">
                    <mat-label>{{busquedaControl.value}} a buscar</mat-label>
                    <input matInput formControlName="textoBuscado" required="true">
                </mat-form-field>
            </div>
            <div class="col col-2 ">
                <button class="btn btn-success" mat-fab extended [disabled]="!formBusqueda.valid"
                    (click)="buscarDatosFacturas()">
                    <mat-icon>search</mat-icon>
                    Buscar
                </button>
            </div>
            }
            @if (restaurarBusqueda) {
            <div class="col col-2 ">
                <button class="btn btn-info" mat-fab extended (click)="restaurarListaFacturas()">
                    <mat-icon>refresh</mat-icon>
                    Restaurar Datos del Cliente
                </button>
            </div>
            }

        </div>
    </form>
</div>

<div class="table-responsive">
    <table class="table table-sm align-middle table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Fecha</th>
                <th scope="col">Nro Factura</th>
                <th scope="col">Tipo Factura</th>
                <th scope="col">Condicion de Venta</th>
                <th scope="col">RUC Emisor</th>
                <th scope="col">Razón Social E</th>
                <th scope="col">RUC Receptor</th>
                <th scope="col">Razón Social R</th>
                <th scope="col">Total IVA</th>
                <th scope="col">Monto Total</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody class="table-group-divider ">

            @for (item of facturasFiltradas; track $index) {

            <tr>
                <td> {{$index + 1}} </td>
                <td> {{item.fechaEmisionFactura}} </td>
                <td> {{item.numeroFactura}} </td>
                <td> {{item.tipoFactura}} </td>
                <td> {{item.condicionVentaFactura}} </td>
                <td> {{item.rucEmisorFactura}} </td>
                <td> {{item.razonSocialEmisorFactura}} </td>
                <td> {{item.rucReceptorFactura}} </td>
                <td> {{item.razonSocialReceptorFactura}} </td>
                <td> {{item.montoTotalIvaFactura | formatogs}} </td>
                <td> {{item.montoTotalFactura | formatogs}} </td>
                <td>
                    <button class="btn btn-warning rounded-circle p-2 lh-1 position-relative" type="button"
                        style="margin-right: 5px;" (click)="editarFactura(item, item.tipoFactura)"
                        data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            5
                            <span class="visually-hidden">unread messages</span>
                        </span>
                    </button>
                    <button class="btn btn-success rounded-circle p-2 lh-1" type="button" disabled>
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>

            }

        </tbody>
    </table>
</div> -->

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            @if (tipoFactura.toUpperCase() =='Factura Virtual'.toLocaleUpperCase()) {

            <div class="modal-body">
                <div class="container text-center">

                    <form class="form-scanner" [formGroup]="formVirtual">

                        <div class="row">

                            <!-- Cabecera de la factura -->
                            <div class="col col-8 align-self-center">
                                <div class="row">
                                    <!-- Tipo Factura de la factura si es que existe... -->
                                    <div class="col-lg-12">
                                        <mat-form-field class="form-scanner-full-width">
                                            <mat-label>Tipo Factura:</mat-label>
                                            <input matInput formControlName="tipoFactura"
                                                placeholder="Ej: Factura Virtual">
                                        </mat-form-field>
                                    </div>
                                    <!-- CDC de la factura si es que existe... -->
                                    <div class="col-lg-12">
                                        <mat-form-field class="form-scanner-full-width">
                                            <mat-label>Codigo Control: </mat-label>
                                            <input matInput formControlName="codigoControl" pattern="[A-Za-z0-9]{8}"
                                                placeholder="Ej: 930508EE" required="true">
                                        </mat-form-field>
                                    </div>
                                    <!-- Ruc del Emisor de la factura... -->
                                    <div class="col col-lg-12">
                                        <mat-form-field class="form-scanner-full-width">
                                            <mat-label>Ruc Emisor:</mat-label>
                                            <input matInput formControlName="rucEmisor" pattern="\d{6,9}-\d"
                                                placeholder="Ej: 80001234-0" required="true">
                                        </mat-form-field>
                                    </div>
                                    <!-- Razon Social del Emisor de la factura... -->
                                    <div class="col col-lg-12">
                                        <mat-form-field class="form-scanner-full-width">
                                            <mat-label>Razón Social:</mat-label>
                                            <input matInput formControlName="razonSocialEmisor"
                                                placeholder="Ej: Morado SA" required="true">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <!-- Cabecera lateral derecha -->
                            <div class="col col-4 align-self-center">
                                <!-- Timbrado numero de la factura... -->
                                <div class="col-lg-12">
                                    <mat-form-field class="form-scanner-full-width">
                                        <mat-label>Timbrado Nro:</mat-label>
                                        <input matInput formControlName="timbradoNro" pattern="[0-9]{7,10}"
                                            placeholder="Ej: 12345678" required="true">
                                    </mat-form-field>
                                </div>
                                <!-- Fecha Inicio Vigencia de la factura... -->
                                <div class="col-lg-12">
                                    <mat-form-field class="form-scanner-full-width">
                                        <mat-label>Fecha Inicio Vigencia:</mat-label>
                                        <input matInput [matDatepicker]="fechaInicioVig"
                                            formControlName="fechaInicioVig">
                                        <mat-hint>DD/MM/YYYY</mat-hint>
                                        <mat-datepicker-toggle matIconSuffix
                                            [for]="fechaInicioVig"></mat-datepicker-toggle>
                                        <mat-datepicker touchUi #fechaInicioVig></mat-datepicker>
                                        <!-- <input matInput formControlName="fechaInicioVig" pattern="\d{2}/\d{2}/\d{4}"
                                            placeholder="Ej: 01/01/2024" required="true"> -->
                                    </mat-form-field>
                                </div>

                                <!-- Numero de la Factura... -->
                                <div class="col-lg-12">
                                    <mat-form-field class="form-scanner-full-width">
                                        <mat-label>Numero Factura:</mat-label>
                                        <input matInput formControlName="nroFactura" pattern="\d{3}-\d{3}-\d{7}"
                                            placeholder="Ej: 001-001-0000001" required="true">
                                    </mat-form-field>
                                </div>
                            </div>

                        </div>
                        <!-- Cuerpo de la factura -->
                        <div class="row">
                            <div class="col col-8">
                                <!-- Fecha de Emisión de la factura... -->
                                <mat-form-field class="form-scanner-full-width">
                                    <mat-label>Fecha de Emisión:</mat-label>
                                    <input matInput [matDatepicker]="fechaEmision" formControlName="fechaEmision">
                                    <mat-hint>DD/MM/YYYY</mat-hint>
                                    <mat-datepicker-toggle matIconSuffix [for]="fechaEmision"></mat-datepicker-toggle>
                                    <mat-datepicker touchUi #fechaEmision></mat-datepicker>
                                    <!-- <input matInput formControlName="fechaEmision" pattern="\d{2}/\d{2}/\d{4}"
                                        placeholder="Ej: 01/01/2024" required="true"> -->
                                </mat-form-field>
                            </div>
                            <div class="col col-4">
                                <!-- Condición de Venta de la factura... -->
                                <mat-form-field class="form-scanner-full-width">
                                    <mat-label>Condición de Venta:</mat-label>
                                    <input matInput formControlName="condicionVenta" placeholder="Ej: Contado"
                                        required="true">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-12">
                                <!-- Ruc del Receptor de la factura... -->
                                <mat-form-field class="form-scanner-full-width">
                                    <mat-label>Ruc Receptor:</mat-label>
                                    <input matInput formControlName="rucReceptor" pattern="\d{6,9}-\d"
                                        placeholder="Ej: 80001234-0" required="true">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-12">
                                <!-- Razón Social Receptor de la factura... -->
                                <mat-form-field class="form-scanner-full-width">
                                    <mat-label>Razón Social Receptor:</mat-label>
                                    <input matInput formControlName="razonSocialReceptor" placeholder="Ej: Morado SA"
                                        required="true">
                                </mat-form-field>
                            </div>
                        </div>
                        <!-- Valores de la factura -->
                        <div class="row">
                            <div class="col col-2"><!-- Excenta de la factura si es que existe... -->
                                <mat-form-field class="form-scanner-full-width">
                                    <mat-label>Excenta:</mat-label>
                                    <input matInput formControlName="montoExenta" pattern="\d+"
                                        placeholder="Ej: 10.000 Gs" required="true">
                                </mat-form-field>
                            </div>
                            <div class="col col-2">
                                <!-- IVA 10% de la factura si es que existe... -->
                                <mat-form-field class="form-scanner-full-width">
                                    <mat-label>IVA 5%:</mat-label>
                                    <input matInput formControlName="montoIva5" pattern="\d+" placeholder="Ej: 5.000 Gs"
                                        required="true">
                                </mat-form-field>
                            </div>
                            <div class="col col-2">
                                <!-- IVA 10% de la factura si es que existe... -->
                                <mat-form-field class="form-scanner-full-width">
                                    <mat-label>IVA 10%:</mat-label>
                                    <input matInput formControlName="montoIva10" pattern="\d+"
                                        placeholder="Ej: 10.000 Gs" required="true">
                                </mat-form-field>
                            </div>
                            <div class="col col-2">
                                <!-- Total IVA de la factura... -->
                                <div class="col-lg-12">
                                    <mat-form-field class="form-scanner-full-width">
                                        <mat-label>Total IVA:</mat-label>
                                        <input matInput formControlName="montoTotalIVA" pattern="\d+"
                                            placeholder="Ej: 12.000 Gs" required="true">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col col-4">
                                <!-- Monto Total de la factura... -->
                                <mat-form-field class="form-scanner-full-width">
                                    <mat-label>Monto Total:</mat-label>
                                    <input matInput formControlName="montoTotal" pattern="\d+"
                                        placeholder="Ej: 1.000.000 Gs" required="true">
                                </mat-form-field>
                            </div>
                        </div>

                        <!-- Valores para el RG90 -->
                        <div class="row">
                            <div class="col col-2">
                                <!-- Excenta de la factura si es que existe... -->
                                <mat-form-field class="form-scanner-full-width">
                                    <mat-label>Tipo Registro</mat-label>
                                    <!-- <input matInput formControlName="tipoRegistro" pattern="\d+"
                                        placeholder="Ej: 10.000 Gs" required="true"> -->
                                    <mat-select [(value)]="tipoRegistro" required="true">
                                        <mat-option value="1">VENTAS</mat-option>
                                        <mat-option value="2">COMPRAS</mat-option>
                                        <mat-option value="3">INGRESOS</mat-option>
                                        <mat-option value="4">EGRESOS</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col col-2">
                                <!-- IVA 10% de la factura si es que existe... -->
                                <mat-form-field class="form-scanner-full-width">
                                    <mat-label>Tipo Docum.</mat-label>
                                    <!-- <input matInput formControlName="montoIva5" pattern="\d+" placeholder="Ej: 5.000 Gs"
                                        required="true"> -->
                                    <mat-select [(value)]="tipoDocumento" required="true">
                                        <mat-option value="11">RUC</mat-option>
                                        <mat-option value="12">CÉDULA DE IDENTIDAD</mat-option>
                                        <mat-option value="13">PASAPORTE</mat-option>
                                        <mat-option value="14">CÉDULA EXTRANJERO</mat-option>
                                        <mat-option value="15">SIN NOMBRE</mat-option>
                                        <mat-option value="16">DIPLOMÁTICO</mat-option>
                                        <mat-option value="17">IDENTIFICACIÓN TRIBUTARIA</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col col-2">
                                <!-- IVA 10% de la factura si es que existe... -->
                                <mat-form-field class="form-scanner-full-width">
                                    <mat-label>Comprobante</mat-label>
                                    <!-- <input matInput formControlName="montoIva10" pattern="\d+"
                                        placeholder="Ej: 10.000 Gs" required="true"> -->
                                    <mat-select [(value)]="tipoComprobante" required="true">
                                        <mat-option value="101">AUTOFACTURA</mat-option>
                                        <mat-option value="102">BOLETA DE TRANSPORTE PÚBLICO DE PASAJEROS</mat-option>
                                        <mat-option value="103">BOLETA DE VENTA</mat-option>
                                        <mat-option value="104">BOLETA RESIMPLE</mat-option>
                                        <mat-option value="105">BOLETOS DE LOTERÍAS, JUEGOS DE AZAR</mat-option>
                                        <mat-option value="106">BOLETO O TICKET DE TRANSPORTE AÉREO</mat-option>
                                        <mat-option value="107">DESPACHO DE IMPORTACIÓN</mat-option>
                                        <mat-option value="108">ENTRADA A ESPECTÁCULOS PÚBLICOS</mat-option>
                                        <mat-option value="109">FACTURA</mat-option>
                                        <mat-option value="110">NOTA DE CRÉDITO</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col col-2">
                                <!-- Total IVA de la factura... -->
                                <div class="col-lg-12">
                                    <mat-form-field class="form-scanner-full-width">
                                        <mat-label>IMPUTA IVA</mat-label>
                                        <!-- <input matInput formControlName="montoTotalIVA" pattern="\d+"
                                            placeholder="Ej: 12.000 Gs" required="true"> -->
                                        <mat-select [(value)]="imputaIva" required="true">
                                            <mat-option value="S">SI</mat-option>
                                            <mat-option value="N">NO</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col col-2">
                                <!-- Monto Total de la factura... -->
                                <mat-form-field class="form-scanner-full-width">
                                    <mat-label>IMPUTA IRE</mat-label>
                                    <!-- <input matInput formControlName="montoTotal" pattern="\d+"
                                        placeholder="Ej: 1.000.000 Gs" required="true"> -->
                                    <mat-select [(value)]="imputaIre" required="true">
                                        <mat-option value="S">SI</mat-option>
                                        <mat-option value="N">NO</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col col-2">
                                <!-- Monto Total de la factura... -->
                                <mat-form-field class="form-scanner-full-width">
                                    <mat-label>IMPUTA IRP-RSP</mat-label>
                                    <!-- <input matInput formControlName="montoTotal" pattern="\d+"
                                        placeholder="Ej: 1.000.000 Gs" required="true"> -->
                                    <mat-select [(value)]="imputaIrpRsp" required="true">
                                        <mat-option value="S">SI</mat-option>
                                        <mat-option value="N">NO</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                        </div>

                    </form>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                    Cancelar</button>
                <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                    (click)="actualizarFactura(factura.idFactura)">Actualizar</button>

            </div>
            }

        </div>
    </div>
</div>
}