<div class="container text-center">
    <h3> Escaneador de Facturas Innova </h3>
</div>

@if (!scaneoRealizado) {
<div class="container text-center">
    <div class="row">
        <div class="col">
            <!-- For select files -->
            <div class="mb-3">
                <label for="formFile" class="form-label ">Seleccione una imagen</label>
                <input id="formFile" #file type="file" (change)="seleccionArchivo(file.files)"
                    [accept]="'.jpg, .png, .gif, .jpeg'" class="form-control btn btn-success my-2" />
            </div>

            <!-- 
                <h2 style="text-align:center;">NG Tesseract OCR Component</h2>
                <h3 style="text-align:center;">Simple OCR Text</h3>
        
        
                <div class="container">
                    <div class="row">
                        <div class="container">
                            <div>
                                <input type="file" (change)="onFileSelected($event)">
                            </div>
                            <div>
                                {{text}}
                            </div>
                        </div>
                    </div>
                </div>
        
                <br><br><br><br><br><br><br><br><br> -->
        </div>
    </div>
</div>
}

@if (scaneoRealizado) {
<div class="container text-center">
    <div class="row">
        <div class="col col-lg-12">
            <h6>Escaneo Completo, desea reescanear</h6>
            <div class="row align-items-center">
                <div class="col col-sm-6">
                    <!-- For select files -->
                    <div class="mb-3">
                        <input id="formFile" #file type="file" (change)="seleccionArchivo(file.files)"
                            [accept]="'.jpg, .png, .gif, .jpeg'" class="form-control btn btn-success my-2" disabled />
                    </div>
                </div>
                <div class="col col-sm-6">
                    <div class="mb-3">
                        <button id="formButton" type="button" class="btn btn-info" (click)="clean()">
                            <i class="fa-solid fa-rotate-right"></i>
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <div class="col col-lg-4"></div>
        <div class="col col-lg-12" [hidden]="true">
            @for (item of qrCodeResult; track $index) {
            <div>
                <ngx-scanner-qrcode #actionFile="scanner" [src]="item.url" [config]="config" (event)="onEvent($event)"
                    hidden></ngx-scanner-qrcode>
                <div>
                    <a class="data text-break" [hidden]="facturaVirtual">{{listQr[0]}}</a>
                </div>
                <!-- <p class="data">{{ actionFile.data.toString() }}</p> -->
            </div>
            }
            <div>
                <!-- <a class="data text-break" [hidden]="esQr || facturaVirtual">{{text}}</a> -->
                <a class="data text-break" [hidden]="esQr">{{text}}</a>
            </div>


            <!-- 
                    <h2 style="text-align:center;">NG Tesseract OCR Component</h2>
                    <h3 style="text-align:center;">Simple OCR Text</h3>
            
            
                    <div class="container">
                        <div class="row">
                            <div class="container">
                                <div>
                                    <input type="file" (change)="onFileSelected($event)">
                                </div>
                                <div>
                                    {{text}}
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <br><br><br><br><br><br><br><br><br> -->
        </div>

    </div>
</div>
}


<div class="container text-center">
    @if (facturaElectronica) {
    <form class="form-scanner" [formGroup]="formElectronica" (ngSubmit)="guardarFactura()">

        <div class="row">
            <!-- Cabecera de la factura -->
            <div class="col col-8 align-self-center">
                <div class="row">
                    <!-- Tipo Factura de la factura si es que existe... -->
                    <div class="col-lg-12">
                        <mat-form-field class="form-scanner-full-width">
                            <mat-label>Tipo Factura:</mat-label>
                            <input formControlName="tipoFactura" matInput placeholder="Ej: Factura Electornica"
                                value="Factura Electrónica">
                        </mat-form-field>
                    </div>
                    <!-- CDC de la factura si es que existe... -->
                    <div class="col-lg-12">
                        <mat-form-field class="form-scanner-full-width">
                            <mat-label>CDC: </mat-label>
                            <input formControlName="cdc" matInput placeholder="Ej: Factura Electornica"
                                value="{{ cdc }}">
                        </mat-form-field>
                    </div>
                    <!-- Ruc del Emisor de la factura... -->
                    <div class="col col-lg-12">
                        <mat-form-field class="form-scanner-full-width">
                            <mat-label>Ruc Emisor:</mat-label>
                            <input formControlName="rucEmisor" matInput placeholder="Ej: 80001234-0"
                                value="{{ rucEmisor }}">
                        </mat-form-field>
                    </div>
                    <!-- Razon Social del Emisor de la factura... -->
                    <div class="col col-lg-12">
                        <mat-form-field class="form-scanner-full-width">
                            <mat-label>Razón Social:</mat-label>
                            <input formControlName="razonSocialEmisor" matInput placeholder="Ej: Morado SA"
                                value="{{ razonSocialEmisor }}">
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <!-- Cabecera lateral derecha -->
            <div class="col col-4 align-self-center">
                <!-- Timbrado numero de la factura... -->
                <div class="col-lg-12">
                    <mat-form-field class="form-scanner-full-width">
                        <mat-label>Timbrado Nro:</mat-label>
                        <input formControlName="timbradoNro" matInput placeholder="Ej: 12345678"
                            value="{{ timbradoNro }}">
                    </mat-form-field>
                </div>
                <!-- Fecha Inicio Vigencia de la factura... -->
                <div class="col-lg-12">
                    <mat-form-field class="form-scanner-full-width">
                        <mat-label>Fecha Inicio Vigencia:</mat-label>
                        <input formControlName="fechaInicioVig" matInput placeholder="Ej: 01/01/2024"
                            value="{{ fechaInicioVig }}">
                    </mat-form-field>
                </div>

                <!-- Numero de la Factura... -->
                <div class="col-lg-12">
                    <mat-form-field class="form-scanner-full-width">
                        <mat-label>Numero Factura:</mat-label>
                        <input formControlName="nroFactura" matInput placeholder="Ej: 001-001-0000001"
                            value="{{ nroFactura }}">
                    </mat-form-field>
                </div>
            </div>

        </div>
        <!-- Cuerpo de la factura -->
        <div class="row">
            <div class="col col-8">
                <!-- Fecha de Emisión de la factura... -->
                <mat-form-field class="form-scanner-full-width">
                    <mat-label>Fecha de Emisión:</mat-label>
                    <input formControlName="fechaEmision" matInput placeholder="Ej: 01/01/2024"
                        value="{{fechaEmision}}">
                </mat-form-field>
            </div>
            <div class="col col-4">
                <!-- Condición de Venta de la factura... -->
                <mat-form-field class="form-scanner-full-width">
                    <mat-label>Condición de Venta:</mat-label>
                    <input formControlName="condicionVenta" matInput placeholder="Ej: Contado"
                        value="{{condicionVenta}}">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col col-12">
                <!-- Ruc del Receptor de la factura... -->
                <mat-form-field class="form-scanner-full-width">
                    <mat-label>Ruc Receptor:</mat-label>
                    <input formControlName="rucReceptor" matInput placeholder="Ej: 80001234-0" value="{{rucReceptor}}">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col col-12">
                <!-- Razón Social Receptor de la factura... -->
                <mat-form-field class="form-scanner-full-width">
                    <mat-label>Razón Social Receptor:</mat-label>
                    <input formControlName="razonSocialReceptor" matInput placeholder="Ej: Morado SA"
                        value="{{razonSocialReceptor}}">
                </mat-form-field>
            </div>
        </div>
        <!-- Valores de la factura -->
        <div class="row">
            <div class="col col-2"><!-- Excenta de la factura si es que existe... -->
                <mat-form-field class="form-scanner-full-width">
                    <mat-label>Excenta:</mat-label>
                    <input formControlName="montoExenta" matInput placeholder="Ej: 10.000 Gs" value="{{montoExenta}}">
                </mat-form-field>
            </div>
            <div class="col col-2">
                <!-- IVA 10% de la factura si es que existe... -->
                <mat-form-field class="form-scanner-full-width">
                    <mat-label>IVA 5%:</mat-label>
                    <input formControlName="montoIva5" matInput placeholder="Ej: 5.000 Gs" value="{{montoIva5}}">
                </mat-form-field>
            </div>
            <div class="col col-2">
                <!-- IVA 10% de la factura si es que existe... -->
                <mat-form-field class="form-scanner-full-width">
                    <mat-label>IVA 10%:</mat-label>
                    <input formControlName="montoIva10" matInput placeholder="Ej: 10.000 Gs" value="{{montoIva10}}">
                </mat-form-field>
            </div>
            <div class="col col-2">
                <!-- Total IVA de la factura... -->
                <div class="col-lg-12">
                    <mat-form-field class="form-scanner-full-width">
                        <mat-label>Total IVA:</mat-label>
                        <input formControlName="montoTotalIVA" matInput placeholder="Ej: 12.000 Gs"
                            value="{{montoTotalIVA}}">
                    </mat-form-field>
                </div>
            </div>
            <div class="col col-4">
                <!-- Monto Total de la factura... -->
                <mat-form-field class="form-scanner-full-width">
                    <mat-label>Monto Total:</mat-label>
                    <input formControlName="montoTotal" matInput placeholder="Ej: 1.000.000 Gs" value="{{montoTotal}}">
                </mat-form-field>
            </div>
        </div>

        <div [hidden]="!scaneoRealizado && !facturaElectronica">
            <div class="container">
                <div class="row">
                    <div class="col-6"></div>
                    <div class="col-6 d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-success" tabindex="-1" role="button" aria-disabled="true"
                            [disabled]="!formElectronica.valid">
                            <span>Guardar</span>
                        </button>
                        <button class="btn btn-danger" tabindex="-1" role="button" aria-disabled="true"
                            (click)="clean()">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </form>
    }

    @if (facturaVirtual) {
    <form class="form-scanner" [formGroup]="formVirtual" (ngSubmit)="guardarFactura()">

        <div class="row">
            <!-- Cabecera de la factura -->
            <div class="col col-8 align-self-center">
                <div class="row">
                    <!-- Tipo Factura de la factura si es que existe... -->
                    <div class="col-lg-12">
                        <mat-form-field class="form-scanner-full-width">
                            <mat-label>Tipo Factura:</mat-label>
                            <input formControlName="tipoFactura" matInput placeholder="Ej: Factura Virtual"
                                value="Factura Virtual">
                        </mat-form-field>
                    </div>
                    <div class="col-lg-12"> <!-- Codigo Control -->
                        <mat-form-field class="form-scanner-full-width">
                            <mat-label>Codigo Control: </mat-label>
                            <input matInput formControlName="codigoControl" pattern="[A-Za-z0-9]{8}"
                                placeholder="Ej: 930508EE" required="true">
                        </mat-form-field>
                    </div>
                    <div class="col col-lg-12"> <!-- Ruc del Emisor de la factura... -->
                        <mat-form-field class="form-scanner-full-width">
                            <mat-label>Ruc Emisor:</mat-label>
                            <input matInput formControlName="rucEmisor" pattern="\d{6,9}-\d"
                                placeholder="Ej: 80001234-0" required="true">
                        </mat-form-field>
                    </div>
                    <div class="col col-lg-12"><!-- Razon Social del Emisor de la factura... -->
                        <mat-form-field class="form-scanner-full-width">
                            <mat-label>Razón Social:</mat-label>
                            <input matInput formControlName="razonSocialEmisor" placeholder="Ej: Morado SA"
                                required="true">
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <!-- Cabecera lateral derecha -->
            <div class="col col-4 align-self-center">

                <div class="col-lg-12"><!-- Timbrado numero de la factura... -->
                    <mat-form-field class="form-scanner-full-width">
                        <mat-label>Timbrado Nro:</mat-label>
                        <input matInput formControlName="timbradoNro" pattern="[0-9]{7,10}" placeholder="Ej: 12345678"
                            required="true">
                    </mat-form-field>
                </div>
                <div class="col-lg-12"><!-- Fecha Inicio Vigencia de la factura... -->
                    <mat-form-field class="form-scanner-full-width">
                        <mat-label>Fecha Inicio Vigencia:</mat-label>
                        <input matInput formControlName="fechaInicioVig" pattern="\d{2}/\d{2}/\d{4}"
                            placeholder="Ej: 01/01/2024" required="true">
                    </mat-form-field>
                </div>
                <div class="col-lg-12"><!-- Numero de la Factura... -->
                    <mat-form-field class="form-scanner-full-width">
                        <mat-label>Numero Factura:</mat-label>
                        <input matInput formControlName="nroFactura" pattern="\d{3}-\d{3}-\d{7}"
                            placeholder="Ej: 001-001-0000001" required="true">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <!-- Cuerpo de la factura -->
        <div class="row">
            <div class="col col-8"><!-- Fecha de Emisión de la factura... -->

                <mat-form-field class="form-scanner-full-width">
                    <mat-label>Fecha de Emisión:</mat-label>
                    <input matInput formControlName="fechaEmision" pattern="\d{2}/\d{2}/\d{4}"
                        placeholder="Ej: 01/01/2024" required="true">
                </mat-form-field>
            </div>
            <div class="col col-4"><!-- Condición de Venta de la factura... -->
                <mat-form-field class="form-scanner-full-width">
                    <mat-label>Condición de Venta:</mat-label>
                    <input matInput formControlName="condicionVenta" placeholder="Ej: Contado" required="true">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col col-12"> <!-- Ruc del Receptor de la factura... -->
                <mat-form-field class="form-scanner-full-width">
                    <mat-label>Ruc Receptor:</mat-label>
                    <input matInput formControlName="rucReceptor" pattern="\d{6,9}-\d" placeholder="Ej: 80001234-0"
                        required="true">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col col-12"> <!-- Razón Social Receptor de la factura... -->
                <mat-form-field class="form-scanner-full-width">
                    <mat-label>Razón Social Receptor:</mat-label>
                    <input matInput formControlName="razonSocialReceptor" placeholder="Ej: Morado SA" required="true">
                </mat-form-field>
            </div>
        </div>
        <!-- Valores de la factura -->
        <div class="row">
            <div class="col col-2"><!-- Excenta de la factura si es que existe... -->
                <mat-form-field class="form-scanner-full-width">
                    <mat-label>Excenta:</mat-label>
                    <input matInput formControlName="montoExenta" pattern="\d+" placeholder="Ej: 10.000 Gs"
                        required="true">
                </mat-form-field>
            </div>
            <div class="col col-2"><!-- IVA 10% de la factura si es que existe... -->
                <mat-form-field class="form-scanner-full-width">
                    <mat-label>IVA 5%:</mat-label>
                    <input matInput formControlName="montoIva5" pattern="\d+" placeholder="Ej: 5.000 Gs"
                        required="true">
                </mat-form-field>
            </div>
            <div class="col col-2"><!-- IVA 10% de la factura si es que existe... -->

                <mat-form-field class="form-scanner-full-width">
                    <mat-label>IVA 10%:</mat-label>
                    <input matInput formControlName="montoIva10" pattern="\d+" placeholder="Ej: 10.000 Gs"
                        required="true">
                </mat-form-field>
            </div>
            <div class="col col-2">
                <div class="col-lg-12"><!-- Total IVA de la factura... -->
                    <mat-form-field class="form-scanner-full-width">
                        <mat-label>Total IVA:</mat-label>
                        <input matInput formControlName="montoTotalIVA" pattern="\d+" placeholder="Ej: 12.000 Gs"
                            required="true">
                    </mat-form-field>
                </div>
            </div>
            <div class="col col-4"><!-- Monto Total de la factura... -->
                <mat-form-field class="form-scanner-full-width">
                    <mat-label>Monto Total:</mat-label>
                    <input matInput formControlName="montoTotal" pattern="\d+" placeholder="Ej: 1.000.000 Gs"
                        required="true">
                </mat-form-field>
            </div>
        </div>
        <div [hidden]="!scaneoRealizado">
            <div class="container">
                <div class="row">
                    <div class="col-6"></div>
                    <div class="col-6 d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-success" tabindex="-1" role="button" aria-disabled="true"
                            [disabled]="!formVirtual.valid">
                            <span>Guardar</span>
                        </button>
                        <button class="btn btn-danger" tabindex="-1" role="button" aria-disabled="true"
                            (click)="clean()">
                            <span>Cancelar</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </form>

    }

    @if (otrosTiposFacturas) {
    <form class="form-scanner" [formGroup]="formFactura" (ngSubmit)="guardarFactura()">


        <div class="row">
            <!-- Cabecera de la factura -->
            <div class="col col-8 align-self-center">
                <div class="row">
                    <!-- Tipo Factura de la factura si es que existe... -->
                    <div class="col-lg-12">
                        <mat-form-field class="form-scanner-full-width">
                            <mat-label>Tipo Factura:</mat-label>
                            <input matInput placeholder="Ej: Factura Electornica" value="{{tipoFactura}}">
                        </mat-form-field>
                    </div>
                    <!-- Ruc del Emisor de la factura... -->
                    <div class="col col-lg-12">
                        <mat-form-field class="form-scanner-full-width">
                            <mat-label>Ruc Emisor:</mat-label>
                            <input matInput placeholder="Ej: 80001234-0" value="{{rucEmisor}}">
                        </mat-form-field>
                    </div>
                    <!-- Razon Social del Emisor de la factura... -->
                    <div class="col col-lg-12">
                        <mat-form-field class="form-scanner-full-width">
                            <mat-label>Razón Social:</mat-label>
                            <input matInput placeholder="Ej: Morado SA" value="{{razonSocialEmisor}}">
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <!-- Cabecera lateral derecha -->
            <div class="col col-4 align-self-center">
                <!-- Timbrado numero de la factura... -->
                <div class="col-lg-12">
                    <mat-form-field class="form-scanner-full-width">
                        <mat-label>Timbrado Nro:</mat-label>
                        <input matInput placeholder="Ej: 12345678" value="{{timbradoNro}}">
                    </mat-form-field>
                </div>
                <!-- Fecha Inicio Vigencia de la factura... -->
                <div class="col-lg-12">
                    <mat-form-field class="form-scanner-full-width">
                        <mat-label>Fecha Inicio Vigencia:</mat-label>
                        <input matInput placeholder="Ej: 01/01/2024" value="{{fechaInicioVig}}">
                    </mat-form-field>
                </div>
                <!-- Fecha Fin Vigencia de la factura... -->
                <div class="col-lg-12">
                    <mat-form-field class="form-scanner-full-width">
                        <mat-label>Fecha Fin Vigencia:</mat-label>
                        <input matInput placeholder="Ej: 01/01/2030" value="{{fechaFinVig}}">
                    </mat-form-field>
                </div>
                <!-- Numero de la Factura... -->
                <div class="col-lg-12">
                    <mat-form-field class="form-scanner-full-width">
                        <mat-label>Numero Factura:</mat-label>
                        <input matInput placeholder="Ej: 001-001-0000001" value="{{nroFactura}}">
                    </mat-form-field>
                </div>
            </div>

        </div>
        <!-- Cuerpo de la factura -->
        <div class="row">
            <div class="col col-8">
                <!-- Fecha de Emisión de la factura... -->
                <mat-form-field class="form-scanner-full-width">
                    <mat-label>Fecha de Emisión:</mat-label>
                    <input matInput placeholder="Ej: 01/01/2024" value="{{fechaEmision}}">
                </mat-form-field>
            </div>
            <div class="col col-4">
                <!-- Condición de Venta de la factura... -->
                <mat-form-field class="form-scanner-full-width">
                    <mat-label>Condición de Venta:</mat-label>
                    <input matInput placeholder="Ej: Contado" value="{{condicionVenta}}">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col col-12">
                <!-- Ruc del Receptor de la factura... -->
                <mat-form-field class="form-scanner-full-width">
                    <mat-label>Ruc Receptor:</mat-label>
                    <input matInput placeholder="Ej: 80001234-0" value="{{rucReceptor}}">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col col-12">
                <!-- Razón Social Receptor de la factura... -->
                <mat-form-field class="form-scanner-full-width">
                    <mat-label>Razón Social Receptor:</mat-label>
                    <input matInput placeholder="Ej: Morado SA" value="{{razonSocialReceptor}}">
                </mat-form-field>
            </div>
        </div>
        <!-- Valores de la factura -->
        <div class="row">
            <div class="col col-2"><!-- Excenta de la factura si es que existe... -->
                <mat-form-field class="form-scanner-full-width">
                    <mat-label>Excenta:</mat-label>
                    <input matInput placeholder="Ej: 10.000 Gs" value="{{montoExenta}}">
                </mat-form-field>
            </div>
            <div class="col col-2">
                <!-- IVA 10% de la factura si es que existe... -->
                <mat-form-field class="form-scanner-full-width">
                    <mat-label>IVA 5%:</mat-label>
                    <input matInput placeholder="Ej: 5.000 Gs" value="{{montoIva5}}">
                </mat-form-field>
            </div>
            <div class="col col-2">
                <!-- IVA 10% de la factura si es que existe... -->
                <mat-form-field class="form-scanner-full-width">
                    <mat-label>IVA 10%:</mat-label>
                    <input matInput placeholder="Ej: 10.000 Gs" value="{{montoIva10}}">
                </mat-form-field>
            </div>
            <div class="col col-2">
                <!-- Total IVA de la factura... -->
                <div class="col-lg-12">
                    <mat-form-field class="form-scanner-full-width">
                        <mat-label>Total IVA:</mat-label>
                        <input matInput placeholder="Ej: 12.000 Gs" value="{{montoTotalIVA}}">
                    </mat-form-field>
                </div>
            </div>
            <div class="col col-4">
                <!-- Monto Total de la factura... -->
                <mat-form-field class="form-scanner-full-width">
                    <mat-label>Monto Total:</mat-label>
                    <input matInput placeholder="Ej: 1.000.000 Gs" value="{{montoTotal}}">
                </mat-form-field>
            </div>
        </div>

        <div [hidden]="!scaneoRealizado && !otrosTiposFacturas">
            <div class="container">
                <div class="row">
                    <div class="col-6"></div>
                    <div class="col-6 d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-success" tabindex="-1" role="button" aria-disabled="true"
                            [disabled]="!formFactura.valid">
                            <span>Guardar</span>
                        </button>
                        <button class="btn btn-danger" tabindex="-1" role="button" aria-disabled="true"
                            (click)="clean()">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </form>
    }




</div>