<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/dashboard">Innova Services</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">

                <li>
                    <a href="/dashboard" class="nav-link link-body-emphasis">
                        <i class="fa fa-tachometer" aria-hidden="true" style="padding-right: 5px;"></i>
                        Estadisticas
                    </a>
                </li>
                <li>
                    <a href="/dashboard/scanning" class="nav-link link-body-emphasis">
                        <i class="fa fa-qrcode" aria-hidden="true" style="padding-right: 5px;"></i>
                        Escanear Facturas
                    </a>
                </li>
                <li>
                    <a href="/dashboard" class="nav-link link-body-emphasis">
                        <i class="fa fa-area-chart" aria-hidden="true" style="padding-right: 5px;"></i>
                        Reportes
                    </a>
                </li>
                <li>
                    <a href="/dashboard/users" class="nav-link link-body-emphasis">
                        <i class="fa fa-users" aria-hidden="true" style="padding-right: 5px;"></i>
                        Usuarios
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>