<!-- Navbar -->
<app-navbar></app-navbar>

<div class="container-fluid">
    <div class="row">
        <!-- Main content -->
        <main role="main">
            <router-outlet />
        </main>
    </div>
</div>

<!-- Footer -->


<button mat-fab [matMenuTriggerFor]="menu" class="btn-flotante">
    <mat-icon>menu</mat-icon>
</button>
<mat-menu #menu="matMenu">
    <button mat-menu-item>
        <a href="/dashboard" class="nav-link link-body-emphasis">
            <span>Inicio</span>
        </a>
        <mat-icon>home</mat-icon>
    </button>
    <button mat-menu-item>
        <a href="/dashboard/scanning" class="nav-link link-body-emphasis">
            <span>Escanear Facturas</span>
        </a>
        <mat-icon>flip</mat-icon>
    </button>
    <button mat-menu-item>
        <a href="/dashboard" class="nav-link link-body-emphasis">
            <span>Estadisticas</span>
        </a>
        <mat-icon>analytics</mat-icon>
    </button>
    <button mat-menu-item>
        <a href="/dashboard" class="nav-link link-body-emphasis">
            <span>Reportes</span>
        </a>
        <mat-icon>bar_chart</mat-icon>

    </button>
    <button mat-menu-item>
        <a href="/dashboard/users" class="nav-link link-body-emphasis">
            <span>Usuarios</span>
        </a>
        <mat-icon>manage_accounts</mat-icon>
    </button>
</mat-menu>
<app-footer />